<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt">
      <div class="contact-div">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" placeholder="Your name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <label>Message</label>
          <textarea placeholder="Your message" class="form-control" rows="3"></textarea>
            <p class="sendmessage pull-right" type="button"> SEND <i class="fa fa-chevron-right"></i></p>
        </form>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>