<section id="container">
  <aside>
    <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a ui-sref="home"><img src="../assets/images/ui-zac.jpg" class="img-circle" width="60"></a></p>
        <h5 class="centered">Marcel Newman</h5>
        <li class="mt">
          <a class="active" ui-sref="dashboard">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="sub-menu">
          <a ui-sref="gallery" >
            <i class="fa fa-camera-retro"></i>
            <span>Gallery</span>
          </a>
        </li>
        <li class="sub-menu">
          <a ui-sref="lock_screen" >
            <i class="fa fa-desktop"></i>
            <span>Lock Screen</span>
          </a>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
    <!--sidebar end-->
    
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12 main-chart">
          <div class="row mt">
            <div class="col-md-4"></div>
            <div class="col-md-4 mb">
               <!-- USER -->
              <div class="white-panel pn">
                <div class="white-header">
                 <h5>USER</h5>
               </div>
               <p><img src="../assets/images/ui-zac.jpg" class="img-circle" width="80"></p>
               <p><b>Zac Snider</b></p>
                <div class="row">
                  <div class="col-md-6">
                    <p class="small mt">MEMBER SINCE</p>
                    <p>2012</p>
                  </div>
                  <div class="col-md-6">
                    <p class="small mt">TOTAL SPEND</p>
                    <p>$ 47,60</p>
                  </div>
                </div>
              </div>
            </div><!-- /col-md-4 -->
            <div class="col-md-4"></div>
          </div><!-- /row -->
        </div><!-- /col-lg-9 END SECTION MIDDLE --> 
      </div>
    </section>
  </section>
</section>