<div class="hair-details">
    <div class="col-md-9">
        <div class="container-fluid">
            <div class="col-md-3 hair-view">
                <div class="front">
                    <img src="assets/images/03.jpg" id="view" alt="..." class="img-rounded">
                </div>
            </div>
            <div class="col-md-3 hair-view">
                <div class="side">
                    <img src="assets/images/03.jpg" id="view" alt="..." class="img-rounded">
                </div>
            </div>
            <div class="col-md-3 hair-view">
                <div class="rear">
                    <img src="assets/images/03.jpg" id="view" alt="..." class="img-rounded">
                </div>
            </div>
        </div>
        <div class="container-fluid" id="about-hair">
            <h5>The blond bohemian is a very exotic style, made only for really hot girls, well, wearing it makes you hot even if you were not. It brings out the diva in you and gives the wearer a very gorgeous feel</h5>
            <div class="sbutton">
                <button type="button" class="btn btn-primary btn-lg">Visit Salons</button>
            </div>
            <div>
                <hr></hr>
                <h5 class="reviews"><b>Customer Reviews</b></h5>
                <ul>
                    <li class="reviews">
                        <div>
                            <h5>Amazing</h5>
                            <h6>I absolutely loved this hair, There is nothing like it!!</h6>
                            <h5>By Susan on September 11th, 2015</h5></div>
                        <button type="button" class="btn btn-primary btn-xs">Comment</button>
                    </li>
                    <li class="reviews">
                        <div>
                            <h5>Amazing</h5>
                            <h6>I feel excited, I feel so fulfilled, I never hexpered this!</h6>
                            <h5>By Olatoyosi on November 1st, 2015</h5></div>
                        <button type="button" class="btn btn-primary btn-xs">Comment</button>
                    </li>
                    <li class="reviews">
                        <div>
                            <h5>Amazing</h5>
                            <h6>It is absolutely lovely, I will definitely do this again</h6>
                            <h5>By Remi on August 9th, 2015</h5></div>
                        <button type="button" class="btn btn-primary btn-xs">Comment</button>
                    </li>
                    <div class="message">
                        <textarea placeholder="Your message" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary btn-xs">Send</button>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-3 hair-view">
            <div class="full">
                <img src="assets/images/03.jpg" id="fullView" alt="..." class="img-rounded">
            </div>
        </div>
    </div>
</div>
