<div class="hair-details">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 hair-view">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive view" src="assets/images/03.jpg" alt="...">
                        <h3 class="view-name">Front view</h3>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive view" src="assets/images/03.jpg" alt="...">
                        <h3 class="view-name">Side view</h3>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive view" src="assets/images/03.jpg" alt="...">
                        <h3 class="view-name">Rear view</h3>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">About Hairname</h3>
                    </div>
                    <div class="panel-body">
                        Hot and trendy!
                    </div>
                </div>
            </div>
            <div class="col-md-6 salons">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h3 class="salon-list">Recommended salons</h3>
                        <span class="figure">
              <img class="list-sal" src="assets/images/header-border1.png">
            </span>
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">O-Naturals</h4>
                                <p class="list-group-item-text">...</p>
                            </a>
                        </div>
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">Hairven</h4>
                                <p class="list-group-item-text">...</p>
                            </a>
                        </div>
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">Next</h4>
                                <p class="list-group-item-text">...</p>
                            </a>
                        </div>
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading">Golden touch</h4>
                                <p class="list-group-item-text">...</p>
                            </a>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
