<div class="hairven__wrapper"></div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="img-responsive center-block" src="assets/images/01.jpg" alt="...">
    </div>
    <div class="item">
      <img class="img-responsive center-block" src="assets/images/02.jpeg" alt="...">
    </div>
    <div class="item">
      <img class="img-responsive center-block" src="assets/images/03.jpg" alt="...">
    </div>
    <div class="item">
      <img class="img-responsive center-block" src="assets/images/05.jpg" alt="...">
    </div>
    <div class="item active">
      <img class="img-responsive center-block" src="assets/images/06.jpg" alt="...">
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <i class="fa fa-chevron-left"></i>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <i class="fa fa-chevron-right"></i>
  </a>
</div>

<div style="margin-bottom: 630px;"></div>

<div id="services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center padding10">
        <h1 class="services_title">WHAT WE DO</h1>
        <h4 class="sub-services text-center">At Hairven, we provide you with a collection of the best Hairstyles of all time</h4>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="box">
          <img class="img-responsive" alt="" src="assets/images/13.png">
        </div>
        <h3>A fleet of hairstyles</h3>
        <p>At Hairven, we bring you a large collection of hairstyles and a wide range of choice. We give you details too!</p>
      </div>

      <div class="col-md-4 text-center">
        <div class="box">
          <img class="img-responsive" alt="" src="assets/images/12.png">
        </div>
        <h3>Hair makers</h3>
        <p>We grant you access to the makers of the exotic hairs. We show you where they are on the planet!</p>
      </div>

      <div class="col-md-4 text-center ">
        <div class="box">
          <img class="img-responsive" alt="" src="assets/images/10.png">
        </div>
        <h3>Book Appointment</h3>
        <p>We help you book appointment with the hair makers to save you the time you spend waiting long hours at the salon!</p>
      </div>
    </div>
  </div>
</div>

<div class="divider">
  <hr /> 
</div>

<div id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center padding10">
        <h1 class="gallery_title">GALLERY</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mt">
      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair">
            <span class="roll">
              <h1 class="hair-caption" >Bohemian</h1>
            </span>
            <img class="gallery" src="assets/images/03.jpg">
          </a>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair">
            <span class="roll">
              <h1 class="hair-caption">Bold waves</h1>
            </span>
            <img class="gallery" src="assets/images/05.jpg">
          </a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair">
            <span class="roll">
              <h1 class="hair-caption">Naturalista</h1>
            </span>
            <img class="gallery" src="assets/images/01.jpg">
          </a>
        </div>
      </div>
    </div>

    <div class="row mt">
      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair">
          <span class="roll">
            <h1 class="hair-caption">Hot Bun</h1>
          </span><img class="gallery" src="../assets/images/04.jpg">
          </a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair">
            <span class="roll">
              <h1 class="hair-caption">Blond curls</h1>
            </span>
            <img class="gallery"  src="assets/images/02.jpeg">
          </a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair">
            <span class="roll">
              <h1 class="hair-caption">Blond curls</h1>
            </span>
            <img class="gallery" src="assets/images/02.jpeg">
          </a>
        </div>
      </div>
    </div>
    <div class="centered-button">
      <button type="submit" ng-click = "redirect('usergallery')" class="btn btn-default">explore</button>
    </div>
  </div>
</div>

<div class="divider">
  <hr /> 
</div>

<div id="contact">
  <div class="col-md-12 text-center padding10">
    <h1 class="contact_title">KEEP UP WITH HAIRVEN</h1>
  </div>
  <div class="container-fluid hairven_contact_form">
    <div class="form-container">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" id="name" placeholder="Your name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <label>Message</label>
        <textarea placeholder="Your message" class="form-control" rows="3"></textarea>
        <div class="centered-button">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="divider">
  <hr /> 
</div>