<div id="login-page" class="screen__bg">
  <div class="container">
    <form class="form-login" action="index.html">
      <div class="login-wrap">
        <input type="text" class="form-control" placeholder="Email Address" autofocus>
        <br>
        <input type="password" class="form-control" placeholder="Password">
        <br>
        <span class="pull-right recover_password">
          <a data-toggle="modal" href="#modal"> Forgot Password?</a>
        </span>
        <p class="verify_input_data centered pt3 enable_cursor" type="submit">SIGN IN <i class="fa fa-chevron-right"></i></p>
        <p class="centered">Don't have an account yet?</p>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="First Name">
          </div>
          <div class="col-md-6">
            <input type="text" name="email" placeholder="Last Name" class="form-control">
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Email Address">
            <br>
            <input type="text" class="form-control" placeholder="Password">
            <p class="verify_input_data centered pt3 enable_cursor" type="button">SIGN UP <i class="fa fa-chevron-right"></i></p>
          </div>
        </div>

        <div class="login-social-link centered">
          <p class="centered">or you can sign in via your social network</p>
          <span class="facebook padding10 enable_cursor" type="submit"><i class="fa fa-facebook"></i> Facebook</span>
          <span class="twitter padding10 enable_cursor"type="submit"><i class="fa fa-twitter"></i> Twitter</span>
        </div>
      </div>

      <!-- Modal -->
      <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Forgot Password ?</h4>
            </div>
            <div class="modal-body">
              <p>Enter your e-mail address below to reset your password.</p>
              <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
            </div>
            <div class="modal-footer">
              <span class="discard_input_data enable_cursor padding10" data-dismiss="modal" type="button">CANCEL</span>
              <span class="verify_input_data enable_cursor padding10" type="button">SUBMIT <i class="fa fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>