<div id="login-page" class="screen__bg">
  <div class="container">
    <form class="form-login" action="index.html">
      <div class="login-wrap">
        <div class="form-group">
          <label for="email">Email address</label>
          <input ng-model="username" type="text" class="form-control" placeholder="Username" autofocus>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input ng-model="password" type="password" class="form-control" placeholder="Password">
        </div>
        <span class="pull-right recover_password">
          <a data-toggle="modal" href="#modal"> Forgot Password?</a>
        </span>
        <p class="verify_input_data centered pt2 enable_cursor" ng-click="signin()" type="submit">SIGN IN <i class="fa fa-chevron-right"></i></p>
        <p class="centered">Don't have an account yet?</p>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input ng-model="firstname" type="text" class="form-control" placeholder="First Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input ng-model="lastname" type="text" name="email" placeholder="Last Name" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="username">Username</label>
              <input ng-model="username" type="text" class="form-control" placeholder="Username">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input ng-model="email" type="text" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input ng-model="password" type="password" class="form-control" placeholder="Password">
            </div>
            <p class="verify_input_data centered pt2 enable_cursor" ng-click ="signup()" type="button">SIGN UP <i class="fa fa-chevron-right"></i></p>
          </div>
        </div>
        <div class="login-social-link centered">
          <p class="centered">or you can sign in via your social network</p>
          <span class="facebook padding10 enable_cursor" ng-click="authenticate('facebook')" type="submit"><i class="fa fa-facebook"></i> Facebook</span>
          <span class="twitter padding10 enable_cursor" ng-click="authenticate('twitter')" type="submit"><i class="fa fa-twitter"></i> Twitter</span>
        </div>
      </div>
      <!-- Modal -->
      <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Forgot Password ?</h4>
            </div>
            <div class="modal-body">
              <p>Enter your e-mail address below to reset your password.</p>
              <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
            </div>
            <div class="modal-footer">
              <span class="discard_input_data enable_cursor padding10" data-dismiss="modal" type="button">CANCEL</span>
              <span class="verify_input_data enable_cursor padding10" type="button">SUBMIT <i class="fa fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
