<!-- <div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="salon-name">
            <h2 style="padding-top: 50px;">Welcome to Salonname</h2>
            <span class="figure">
          <img alt="" src="assets/images/header-border1.png">
        </span>
        </div>
    </div>
</div> -->
<div class="salon-details">
    <div class="col-md-9">
        <div class="bbutton">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>back
            </button>
            <button type="button" class="btn btn-primary">Book Appointment</button>
        </div>
        <hr></hr>
        <span><h4><b>Hairstyle:</b></h4></span>
    </div>
    <div class="col-md-3"></div>
</div>
