<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="salon-name">
            <h1 style="padding-top: 50px;">Welcome to Salonname</h1>
            <span class="figure">
          <img alt="" src="assets/images/header-border1.png">
        </span>
        </div>
    </div>
</div>
<div class="row mt">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
        <div class="salon-image">
            <img class="img-responsive" src="../assets/images/salon1.jpg" alt="">
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc"></div>
</div>
<div class="col-md-12 text-center" id="salon-profile">
    <h4>O-naturals offers you the best services you have ever had. And more.</h4>
    <h4>Opening hours: Mondays to Sundays(8am to 9pm)</h4>
    <div class="book"><button>Book Appointment</button></div>
    <div class="check"><span>Check out our collection below..</span></div>
</div>
<div id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 style="padding-top: 50px;">Gallery</h1>
                <span class="figure">
          <img alt="" src="assets/images/header-border1.png">
        </span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt">
            <div class="col-md-4 text-center">
                <div>
                    <a class="figure-image" href="/hair"><span class="roll"><h1 class="hair-caption" >Bohemian</h1></span><img class="gallery" src="assets/images/03.jpg">
          </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <a class="figure-image" href="/hair"><span class="roll"><h1 class="hair-caption" >Bold waves</h1></span><img class="gallery" src="assets/images/05.jpg">
          </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <a class="figure-image" href="/hair"><span class="roll"><h1 class="hair-caption">Naturalista</h1></span><img class="gallery" src="assets/images/01.jpg">
          </a>
                </div>
            </div>
        </div>
        <div class="row mt">
            <div class="col-md-4 text-center">
                <div>
                    <a class="figure-image" href="/hair"> <span class="roll">
          <h1 class="hair-caption">Hot Bun</h1></span><img class="gallery" src="../assets/images/04.jpg">
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <a class="figure-image" href="/hair"> <span class="roll"><h1 class="hair-caption">Blond curls</h1></span><img class="gallery" src="assets/images/02.jpeg">
                    </a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div>
                    <a class="figure-image" href="/hair"> <span class="roll"><h1 class="hair-caption">Blond curls</h1></span><img class="gallery" src="assets/images/02.jpeg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
