 <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse" data-ng-init="getSalon()">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <div class="salon-details-wrapper">
          <a ui-sref="home"><img class="salon-photo" src="../assets/images/salon.jpg"></a>
          <h6 class="salon-heading">Salon Name:</h6>
          <h5 ng-model = "salonName" class="salon-detail">{{salonName}}</h5>
          <h6 class="salon-heading">Salon Address:</h6>
          <h5 ng-model = "salonAddress" class="salon-detail">{{salonAddress}}</h5>
        </div>
        <li>
          <a ui-sref="dashboard">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </a>
          <hr>
        </li>
        <li class="sub-menu">
          <a ui-sref="gallery">
            <i class="fa fa-camera-retro"></i>
            <span>Explore Gallery</span>
          </a>
          <hr>
        </li>
        <li class="sub-menu">
          <a ui-sref="lock_screen">
            <i class="fa fa-desktop"></i>
            <span ng-click = "getSalon()">View Salons</span>
          </a>
          <hr>
        </li>
        <li class="sub-menu">
          <a ui-sref="lock_screen">
            <i class="fa fa-calendar"></i>
            <span>Appointments</span>
          </a>
          <hr>
        </li>
        <li class="sub-menu">
          <a ui-sref="lock_screen">
            <i class="fa fa-black-tie"></i>
            <span>VIP</span>
          </a>
          <hr>
        </li>
        <li class="sub-menu">
          <a ui-sref="lock_screen">
            <i class="fa fa-envelope-o"></i>
            <span>Messages</span>
          </a>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->