<section id="container">
  <!--main content start-->
  <section id="main-content" data-ng-init="getAllHairstyles()">
    <section class="wrapper">
      <div class="row mt">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
        </div>
        <!-- col-lg-4 -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
          <div class="project-wrapper">
            <div class="image-circle add-photo">
              <div class="photo">
                <a data-toggle="modal" data-target="#add"><img class="img-responsive" src="../assets/images/add-more.png" alt=""></a>
              </div>
              <div class="overlay"></div>
            </div>
          </div>
        </div>
        <!-- col-lg-4 -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc"></div>
        <!-- col-lg-4 -->
      </div>
      <div class="row mt">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc" ng-repeat="hairstyle in hairstyles">
          <div class="project-wrapper">
            <div class="add-photo">
              <div class="photo">
                <a class="fancybox" href="hairstyle.image"><img class="img-responsive" src="{{hairstyle.image}}" alt="You have no Hairstyles, click above to add"></a>
              </div>
              <div class="overlay"></div>
            </div>
          </div>
        </div>
        <!-- col-lg-4 -->
      </div>
    </section>
    <!-- /wrapper -->
    <!-- add -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="add" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Hairstyle</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="title">Name</label>
                  <input ng-model="name" type="text" class="form-control" placeholder="Title">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea ng-model="description" type="textArea" rows="6" class="form-control" placeholder="Description"></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="hairPhoto">Photo</label>
                  <input name="hairPhoto" ngf-select ng-model="imageFile" id="hairPhoto" type="file" class="form-control" ngf-max-size="20MB" accept="image/*">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <span class="discard_input_data enable_cursor padding10" data-dismiss="modal" type="button">CANCEL</span>
              <span class="verify_input_data enable_cursor padding10" data-dismiss="modal" ng-click="addHairstyle()" type="button">ADD <i class="fa fa-chevron-right"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal -->
  </section>
  <!-- /MAIN CONTENT -->
  <!--main content end-->
</section>
