<div id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="padding-top: 50px;">Gallery</h1>
        <span class="figure">
          <img alt="" src="assets/images/header-border1.png">
        </span>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mt">
      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair"><span class="roll"><h1 class="hair-caption" >Bohemian</h1></span><img class="gallery" src="assets/images/03.jpg">
          </a>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair"><span class="roll"><h1 class="hair-caption" >Bold waves</h1></span><img class="gallery" src="assets/images/05.jpg">
          </a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair"><span class="roll"><h1 class="hair-caption">Naturalista</h1></span><img class="gallery" src="assets/images/01.jpg">
          </a>
        </div>
      </div>
    </div>

    <div class="row mt">
      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair"> <span class="roll">
          <h1 class="hair-caption">Hot Bun</h1></span><img class="gallery" src="../assets/images/04.jpg">
          </a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair"> <span class="roll"><h1 class="hair-caption">Blond curls</h1></span><img class="gallery"  src="assets/images/02.jpeg">
          </a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div>
          <a class="figure-image" href="/hair"> <span class="roll"><h1 class="hair-caption">Blond curls</h1></span><img class="gallery" src="assets/images/02.jpeg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>