<div id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="padding-top: 50px;">Gallery</h1>
        <span class="figure">
          <img alt="" src="assets/images/header-border1.png">
        </span>
      </div>
    </div>
  </div>
  <div class="container-fluid" data-ng-init="getAllHairstyles()">
    <div class="row mt">
      <div class="col-md-4 text-center" ng-repeat="hairstyle in hairstyles">
        <div>
          <a class="figure-image" href="/hair"><span class="roll"><h1 class="hair-caption" >{{hairstyle.name}}</h1></span><img class="gallery" src="{{hairstyle.image}}">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
