/* Import fonts */

@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

/* BASIC THEME CONFIGURATION */

body {
    color: #797979;
    background: #fff;
    font-family: 'Ruda', sans-serif, Helvetica;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
}

ul li {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

::selection {
    background: #424A5D;
    color: #fff;
}

::-moz-selection {
    background: #424A5D;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}


/* Bootstrap Modifications */

.modal-header {
    background: #424A5D;
}

.modal-title {
    color: white;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #797979;
}

.screen__bg {
    background: #D2D6DE;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-menu .navbar-nav li {
    margin-top: 4px;
}

.top-menu .navbar-nav li a {
    color: #676767;
}


/*Helpers*/

.centered {
    text-align: center;
}

.goleft {
    text-align: left;
}

.goright {
    text-align: right;
}

.mt {
    margin-top: 25px;
}

.mb {
    margin-bottom: 25px;
}

.ml {
    margin-left: 5px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

ul.top-menu > li > .logout {
    color: #f2f2f2;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #888 !important;
    padding: 5px 10px;
    margin-right: 15px;
    background: #777;
    margin-top: 8px;
}


/*sidebar navigation*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #424a5d;
}

#sidebar h5 {
    color: #f2f2f2;
    font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}


/*LEFT NAVIGATION ICON*/

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu,
ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub,
#sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li {
    background: #424a5d;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
    color: white;
    background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #68dff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

ul.sidebar-menu li.sub-menu {
    line-height: 15px;
}

ul.sidebar-menu li a span {
    display: inline-block;
}

ul.sidebar-menu li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
    background: #999;
    color: #fff;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i,
ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}


/* MAIN CONTENT CONFIGURATION */

#main-content {
    margin-left: 210px;
}

.header,
.footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1002;
}

.black-bg {
    background: rgba(246, 246, 246, 0.96);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

a.logo {
    font-size: 20px;
    color: #666;
    float: left;
    margin-top: 15px;
    margin-left: 50px;
    text-transform: uppercase;
}

a.logo b {
    font-weight: 900;
}

a.logo:hover,
a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #68dff0;
}


/*Panel Size*/

.pn {
    height: 250px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pn:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}


/*White Panel */

.white-panel {
    text-align: center;
    background: #ffffff;
    color: #888;
}

.white-panel p {
    margin-top: 5px;
    font-weight: 700;
    margin-left: 15px;
}

.white-panel .white-header {
    background: #f4f4f4;
    padding: 3px;
    margin-bottom: 15px;
    color: #c6c6c6;
}

.white-panel .small {
    font-size: 10px;
    color: #ccd1d9;
}

.white-panel i {
    color: #68dff0;
    padding-right: 4px;
    font-size: 14px;
}


/* Gallery Configuration */

.photo-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0);
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.project .overlay {
    position: absolute;
    text-align: center;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.project:hover .photo-wrapper {
    background-color: rgba(0, 0, 0, .8);
    background-image: url(../images/zoom.png);
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

.project:hover .photo {
    opacity: 10;
    filter: alpha(opacity=4000);
    opacity: 0.1;
    filter: alpha(opacity=40);
}

.project:hover .overlay {
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
}

.add-photo:hover {
    opacity: .5;
}


/*LOGIN CONFIGURATION PAGE*/

.form-login {
    max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    background: #424A5D;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

.login-wrap {
    padding: 20px;
}

.login-wrap .registration {
    text-align: center;
}

.login-social-link {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
}


/*LOCK SCREEN CONF*/

#showtime {
    width: 100%;
    color: #fff;
    font-size: 90px;
    margin-bottom: 30px;
    margin-top: 250px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
}

.lock-screen {
    text-align: center;
}

.lock-screen a {
    color: white;
}

.lock-screen a:hover {
    color: #48cfad;
}

.lock-screen i {
    font-size: 60px;
}

.lock-screen .modal-content {
    position: relative;
    background-color: #f2f2f2;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
}


/***************HOME************/

.hairven__wrapper {
    margin: 0px 0px 70px 0px;
}


/* CAROUSEL*/

.carousel-indicators {
    bottom: -60px;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    background: #eee;
}

.carousel-indicators .active {
    background-color: #777;
    width: 22px;
    height: 22px;
}

.carousel-inner {
    height: 520px;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}


/* GALLERY*/

#gallery img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    width: auto;
    max-height: 600px;
    padding-bottom: 60px;
}

.gallery {
    height: 400px !important;
    width: 400px !important;
}


/* CONTACT FORM*/

.hairven__form {
    background: rgba(255, 255, 255, 0.87);
}

form {
    padding-bottom: 90px
}

.centered-button {
    text-align: center;
    padding-top: 2em
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
}


/* OTHERS*/

span.roll {
    position: absolute;
    height: 340px;
    width: 380px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
}

.hair-caption {
    margin-top: 150px;
    color: white;
}

#services {
    margin-top: 60px;
}

#gallery {
    margin-top: 180px;
    background: #FAFAFA;
}

#contact button {
    border-radius: 100%;
    height: 80px;
    width: 80px;
}

#contact button:hover,
#contact button:focus {
    background: none;
    border: 2px solid rgba(65, 73, 92, 0.91);
    outline: none;
}

.hairven__divider {
    margin-bottom: 50px;
}

.box {
    width: 150px;
    margin: 0 auto;
    padding-bottom: 28px;
}


/*footer*/

#footer {
    max-height: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(65, 60, 60);
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.text-muted {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.list-container {
    margin: 0 auto;
    padding-bottom: 60px
}

.light {
    padding-bottom: 20px;
}

.salons {
    background-color: rgb(43, 43, 69);
    height: 600px;
    float: right !important;
    margin-top: -21px;
}

.salon-list {
    color: silver;
    margin-top: 3em;
    text-align: center;
}

.list-sal {
    margin-top: 20px;
    margin-left: 86px;
}

.view {
    width: 1000px;
    border-radius: 100%;
}

.view-name {
    text-align: center;
}

.hair-details {
    margin-top: 80px;
}

.panel-primary {
    margin-top: 9em;
}

#salon-name {
    padding-top: 2em
}

.book {
    padding-top: 2em;
}

.check {
    padding-top: 2em;
    color: red;
}

.contact-div {
    -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px;
    height: 400px;
    margin-top: 120px;
    padding: 40px 30px;
    background: url(../images/contact-form.png) repeat-x #fff;
}

.sendmessage {
  padding-top: 40px;
  text-align: center;
  cursor: pointer;
  font-family: helvetica;
  font-size: 16px;
  color: #3E91F4;
}