/* IMPORT FONTS */

@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);

/* BASIC THEME CONFIGURATION */

body {
  color: #797979;
  background: #fff;
  font-family: Helvetica, 'Helvetica Neue', serif, sans-serif, 'Open Sans';
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
}

ul li {
  list-style: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

::selection {
  color: #5BBBE2;
}

::-moz-selection {
  color: #5BBBE2;
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 5px;
}

#container {
  width: 100%;
  height: 100%;
}


/*HELPERS*/

.centered {
  text-align: center;
}

.salon-details-wrapper {
  margin: auto;
  width: 95%;
  position: relative;
  margin-bottom: 20px;
}

.salon-photo {
  width: 90%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.salon-heading {
  color: #aeb2b7;
}

.salon-detail {
  margin-left: 20px;
}

.goleft {
  text-align: left;
}

.goright {
  text-align: right;
}

.mt {
  margin-top: 35px;
}

.mb {
  margin-bottom: 25px;
}

.ml {
  margin-left: 5px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.pt2 {
  padding-top: 20px;
}

.padding10 {
  padding: 10px;
}

.enable_cursor {
  cursor: pointer;
}

.divider {
  width: 80%;
  margin: 50px auto
}


/*NAVBAR STYLE*/

.header,
.footer {
  min-height: 60px;
  padding: 0 15px;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1002;
}

.black-bg {
  background: rgba(255, 255, 255, .7);
}

a.logo {
  font-size: 20px;
  color: #666;
  float: left;
  margin-top: 15px;
  margin-left: 50px;
  text-transform: uppercase;
}

a.logo b {
  font-weight: 900;
}

a.logo:hover,
a.logo:focus {
  text-decoration: none;
  outline: none;
}

a.logo span {
  color: #68dff0;
}

.top-menu .navbar-nav li {
  margin-top: 4px;
}

.top-menu .navbar-nav li a {
  color: #676767;
  font-weight: 200;
  font-family: Helvetica, 'Open Sans';
  text-transform: uppercase;
}

.top-menu .navbar-nav li a:hover,
.top-menu .navbar-nav li a:focus {
  background: transparent;
  color: rgba(103, 103, 103, 0.5);
}

@media (min-width: 768px) {
  .centered_nav_opt {
    margin-top: 5px;
    padding: 0 0 0 0;
  }
}

@media (min-width: 998px) {
  .centered_nav_opt {
    margin-top: 5px;
    padding: 0 5% 0 10%;
  }
}

@media (min-width: 1200px) {
  .centered_nav_opt {
    margin-top: 5px;
    padding: 0 05% 0 25%;
  }
}


/*LOGIN && SIGNUP STYLE*/

.login {
  border: solid;
  border-width: 1px;
  text-transform: uppercase;
  border-radius: 0.3em;
  padding: 5px 10px;
  border-color: #676767;
  background: #FFFFFF;
}

.salon-login {
  text-transform: uppercase;
  padding: 5px 10px;
  border: solid;
  border-width: 1px;
  border-radius: 0.3em;
  border-color: #676767;
}

.form-login {
  max-width: 460px;
  margin: auto;
  margin-top: 80px;
  background: #FFFFFF;
}

.form-updatehair {
  max-width: 460px;
  margin: auto;
  margin-top: 80px;
  background: #FFFFFF;
}

.login-wrap {
  padding: 30px;
}

.updatehair-wrap {
  padding: 30px;
}

.login-social-link {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-social-link .twitter {
  color: #60AADF;
}

.login-social-link .facebook {
  color: #405A9F;
}

.recover_password a {
  font-size: 12px;
  color: #797979;
  font-weight: 300;
  font-family: 'Helvetica', 'Open Sans';
}

.recover_password a:hover {
  color: #3E91F4;
}

.recover_password {
  margin-top: -12px;
}

.verify_input_data {
  color: #3E91F4;
}

.discard_input_data {
  color: #EF395A;
}


/*HOMEPAGE*/


/* CAROUSEL*/

.carousel {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  background: #eee;
}

.carousel-indicators .active {
  background-color: #777;
  width: 22px;
  height: 22px;
}

.carousel-inner {
  height: 620px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.carousel-control.right,
.carousel-control.left {
  margin: 310px auto;
}

#services h1.services_title,
#gallery h1.gallery_title,
#contact h1.contact_title {
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 500;
  color: #404040;
}

#services h4.sub-services {
  color: #797979;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
}

#services .box {
  width: 150px;
  margin: 0 auto;
}

#services img.img-responsive {
  padding: 20px;
}

#services h3 {
  font-family: Helvetica, 'Open Sans';
  font-weight: 300;
}

#gallery img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  width: auto;
  max-height: 600px;
  padding-bottom: 60px;
}

.gallery {
  height: 400px !important;
  width: 400px !important;
}

#gallery span.roll {
  position: absolute;
  height: 340px;
  width: 400px;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;
}

#gallery .hair-caption {
  margin-top: 150px;
  color: white;
}

.hairven_contact_form {
  background: rgba(255, 255, 255, 0.87);
}

.centered-button {
  text-align: center;
  padding-top: 2em
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

#contact button,
#gallery button {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}

#contact button:hover,
#contact button:focus,
#gallery button:hover,
#gallery button:focus {
  background: none;
  border: 2px solid rgba(65, 73, 92, 0.91);
  outline: none;
}

.hairven__divider {
  margin-bottom: 50px;
}


/* Bootstrap Modifications */

.modal-header {
  background: #FFFFFF;
}

.modal-title {
  color: #000;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #797979;
}

.screen__bg {
  background: #F8F8F8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/*sidebar navigation*/

#sidebar {
  width: 22%;
  height: 100%;
  position: fixed;
  background: #424a5d;
}

#sidebar h5 {
  color: #f2f2f2;
  font-weight: 700;
}

#sidebar ul li {
  position: relative;
}

#sidebar .sub-menu > .sub li {
  padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
  padding-bottom: 10px;
}


/*LEFT NAVIGATION ICON*/

.nav-collapse.collapse {
  display: inline;
}

ul.sidebar-menu,
ul.sidebar-menu li ul.sub {
  margin: -2px 0 0;
  padding: 0;
}

ul.sidebar-menu {
  margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
  display: none;
}

#sidebar > ul > li.active > ul.sub,
#sidebar > ul > li > ul.sub > li > a {
  display: block;
}

#sidebar > ul > li > hr {
  margin-top: 0;
  width: 90%;
  margin-bottom: 0;
}

ul.sidebar-menu li ul.sub li {
  background: #424a5d;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
  font-size: 12px;
  padding: 6px 0;
  line-height: 35px;
  height: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
  color: white;
  background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
  color: #68dff0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
}

ul.sidebar-menu li {
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

ul.sidebar-menu li.sub-menu {
  line-height: 15px;
}

ul.sidebar-menu li a span {
  display: inline-block;
}

ul.sidebar-menu li a {
  color: #aeb2b7;
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 10px;
  font-size: 12px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
  background: #999;
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
  font-size: 15px;
  padding-right: 6px;
}

ul.sidebar-menu li a:hover i,
ul.sidebar-menu li a:focus i {
  color: #fff;
}

ul.sidebar-menu li a.active i {
  color: #fff;
}


/* MAIN CONTENT CONFIGURATION */

#main-content {
  margin-left: 22%;
}

.wrapper {
  display: inline-block;
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 0px;
  width: 100%;
}


/*Panel Size*/

.pn {
  height: 250px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pn:hover {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}


/*White Panel */

.white-panel {
  text-align: center;
  background: #ffffff;
  color: #888;
}

.white-panel p {
  margin-top: 5px;
  font-weight: 700;
  margin-left: 15px;
}

.white-panel .white-header {
  background: #f4f4f4;
  padding: 3px;
  margin-bottom: 15px;
  color: #c6c6c6;
}

.white-panel .small {
  font-size: 10px;
  color: #ccd1d9;
}

.white-panel i {
  color: #68dff0;
  padding-right: 4px;
  font-size: 14px;
}


/* Gallery Configuration */

.photo-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0);
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.project .overlay {
  position: absolute;
  text-align: center;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.project:hover .photo-wrapper {
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../images/zoom.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}

.project:hover .photo {
  opacity: 10;
  filter: alpha(opacity=4000);
  opacity: 0.1;
  filter: alpha(opacity=40);
}

.project:hover .overlay {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}

.add-photo:hover {
  opacity: .5;
}


/*LOCK SCREEN CONF*/

#showtime {
  width: 100%;
  color: #fff;
  font-size: 90px;
  margin-bottom: 30px;
  margin-top: 250px;
  display: inline-block;
  text-align: center;
  font-weight: 400;
}

.lock-screen {
  text-align: center;
}

.lock-screen a {
  color: white;
}

.lock-screen a:hover {
  color: #48cfad;
}

.lock-screen i {
  font-size: 60px;
}

.lock-screen .modal-content {
  position: relative;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
}


/*footer*/

#footer {
  max-height: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(65, 60, 60);
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.text-muted {
  color: white;
  text-align: center;
  padding-top: 20px;
}

.list-container {
  margin: 0 auto;
  padding-bottom: 60px
}

.light {
  padding-bottom: 20px;
}

.salons {
  background-color: rgb(43, 43, 69);
  height: 600px;
  float: right !important;
  margin-top: -21px;
}

.salon-list {
  color: silver;
  margin-top: 3em;
  text-align: center;
}

.list-sal {
  margin-top: 20px;
  margin-left: 86px;
}

.view {
  width: 1000px;
  border-radius: 100%;
}

.view-name {
  text-align: center;
}

.hair-details {
  margin-top: 80px;
}

.panel-primary {
  margin-top: 9em;
}

#salon-name {
  padding-top: 2em
}

.book {
  padding-top: 2em;
}

.check {
  padding-top: 2em;
  color: red;
}

#view {
  height: 300px;
  width: 260px;
}

#fullView {
  height: 500px;
  width: 260px;
}

.hair-view {
  padding-right: 20em;
}

#about-hair {
  width: 850px;
  margin-left: 1em;
  padding-top: 3em
}

.sbutton {
  padding-top: 5em;
  margin-left: 27em;
}

.reviews {
  padding-top: 2em
}

li.reviews {
  padding-top: 2em;
}

.message {
  padding-top: 2em;
  padding-bottom: 1em
}

.contact-div {
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px;
  height: 400px;
  margin-top: 120px;
  padding: 40px 30px;
  background: url(../images/contact-form.png) repeat-x #fff;
}

.sendmessage {
  padding-top: 40px;
  text-align: center;
  cursor: pointer;
  font-family: helvetica;
  font-size: 16px;
  color: #3E91F4;
}

.saloon-image {
  width: 22%;
  margin: auto;
}

.hair-img {
  width: auto;
  height: 50px;
}
